* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #edeff0;
}


/*Header section */
header {
    background-color:#fff;
}

header a {
    display:inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

header nav li {
    display: inline-block;
}

header #logo {
    font-size: 1.5em;
    font-family:'Open Sans', sans-serif;
    
}

header nav a:hover {
    background-color: rgba(0, 0, 0, .1);
}

header nav a {
    transition: background-color 0.4s;
}
header .active {
    background-color: rgba(0, 0, 0, .2);
}


/*Showcase section */
#showcase {
    min-height: 250px;
    background-image:url(../images/aboutBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#showcase .text{
    text-align: center;
    position: relative;
    top: 100px;
}

#showcase .text h2 {
    color: #fff;
    background-color:rgba(0, 0, 0, .4);
    padding: 15px;
    font-weight: 400;
}


/*few words about us section */
#few-words-about-us .words-container {
    max-width: 500px;
    margin:auto;
}
 
.word {
    text-align: center;
    margin: 20px 0px; /*topbottom leftright */
}

.words-container h3, .words-container p {
    padding: 10px;
}

.call-to-action {
    text-align: center;
}
.call-to-action a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 0px 50px; /*top leftright bottom */
    color: #fff;
    background-color: #55c18f;
    transition: box-shadow .4s;
}
.call-to-action a:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}


/*History section */
#history{
    background-color: #fff;
    text-align: center;
}
#history h2 {
     padding: 20px;
     border-bottom: 1px solid rgba(0, 0, 0, .1);
     margin-bottom: 30px;
}

.events-container {
    vertical-align: top;
}
.event {
    margin: 10px;
}

.event p {
    padding: 5px;
}

.event-date {
    color: #55c18f;
    font-size: 1.2em;
    font-weight: bold;
}

.event-title {
    color: #55c18f;
    font-size: 1.3em;
    font-weight: bold;
}


/*our team section */
#our-team{
    text-align: center;
    padding-bottom: 30px;
}
#our-team h2 {
     padding: 20px;
     border-bottom: 1px solid rgba(0, 0, 0, .1);
     margin-bottom: 30px;
}

 .member {
     margin: 15px;
     padding: 5px;
     background-color: #fff;
     padding-bottom: 15px;
}

 .member img {
     height: 150px;
     width: 150px;
     object-fit: cover;
     margin: 10px;
     border-radius: 50%;
}


/*faq section */
#faq-section{
    background-color: #fff;
}
.faq-container {
    vertical-align: text-top;
}

#faq-section h2 {
     padding: 20px;
     border-bottom: 1px solid rgba(0, 0, 0, .1);
     margin-bottom: 30px;
     text-align: center;
}

.faq {
    margin: 10px;
}

.faq p{
    padding: 10px;
}

.faq .q {
    font-style: italic;
    color: #55c18f;
    font-weight: bold;
}

.faq span {
    font-size: 1.2em;
    padding-right: 5px;
    font-style: italic;
}


/*Footer section */
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
}

footer .services ul{
    list-style: none;
}

footer .services li {
    padding: 10px 0px;
}

footer .services h5 {
    padding: 15px 0px;
    font-size: 1.2em;
}

footer .services {
    margin-bottom: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer .contact-info p {
    padding: 10px 0px;
}

footer .contact-form {
    padding: 20px 0px;
}

footer .contact-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
}

footer .contact-form button {
    background-color: #55c18f;
    color: #fff;
    padding: 10px;
    display:inline-block;
    text-decoration: none; 
    transition: box-shadow 0.4s;
    margin: 10px 0px;
    border: none;
}


/*Adding responsive layouts */

@media screen and (min-width:750px){
    header #logo {
        display: inline-block;
        width: 30%;
        padding: 5px 20px; 
    }

    header nav {
       display: inline-block;
       width: 60%; 
    }
    
    .events-container, .faq-container {
        display: inline-block;
        width: 40%;
        margin: 1%;
    }
 
    .member {
        display: inline-block;
        width: 45%;
    }
    #faq-section {
        text-align: center;
    }

    footer .services, footer .contact-info {
        display:inline-block;
        width: 46%;
    }

    footer .contact-form input {
        width: 70%;
    }

    footer .contact-form button {
        margin-left: 20px;
    }
}


@media screen and (min-width: 1040px ){
    .word {
        display: inline-block;
        width: 40%;
    }

    #few-words-about-us .words-container {
        max-width: 90%;
        margin:auto;
        text-align: center;
    }

    footer .services, footer .contact-info, footer .contact-form {
        display:inline-block;
        width: 30%;
    }
  
    footer .contact-form input {
        width: 60%;
    }
}