* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #edeff0;
}



/*Header section */
header {
    background-color:#fff;
}

header a {
    display:inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

header nav li {
    display: inline-block;
}

header #logo {
    font-size: 1.5em;
    font-family:'Open Sans', sans-serif;
}

header nav a:hover {
    background-color: rgba(0, 0, 0, .1);
}

header nav a {
    transition: background-color 0.4s;
}


/*intro section */
#intro {
    min-height: 350px;
    background-image:url(../images/introBackground.jpg);
    background-size: cover;
    
}

.intro-text {
    text-align: center;
    position: relative;
    top: 80px;
    
   
}

.intro-text h2 {
    color: #fff;
    background-color:rgba(0, 0, 0, .4);
    padding: 15px;
    font-weight: 400;
}
.intro-text h3 {
    color: #fff;
    background-color:rgba(0, 0, 0, .4);
    padding: 10px;
    font-weight: 300;
}


.intro-text .call-to-action a {
    background-color: #55c18f;
    color: #fff;
    padding: 15px;
    display:inline-block;
    text-decoration: none; 
    margin: 20px 0px 50px; /*top leftright bottom */
    transition: box-shadow 0.4s;
}

.intro-text .call-to-action a:hover {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .2);
}

/*welcome section */

#welcome {
    background-color: #55c18f;
    color: #fff;
    padding-bottom: 10px;
    
}

#welcome h2 {
    padding: 15px;
    text-align: center;
}

#welcome p {
    padding: 10px 10px;
}

.services-container, .works-container {
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
    
}
.welcome-container {
    margin: 10px 10px;
} 
.service  {
    margin: 20px 10px;
    text-align: center;
}

.service-title {
    padding: 15px;
    border-bottom: 2px solid #fff;
    font-size: 1.4em;
}

.work {
    height: 250px;
    margin: 20px 10px;
    background-size: cover;
    position: relative;
   
}

.work.one {
    background-image:url(../images/fallSpring.jpg);
}


.work.two {
    background-image:url(../images/lawn.jpg);
}

.work.three {
    background-image:url(../images/landscapeDesign.jpg);
}

.work.four {
    background-image:url(../images/plantsFlowers.jpg);
}

.work-title {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0px;
    width: 100%;
}


/*Blog section */

#blog {
    text-align: center;
}

#blog h2 {
    padding: 15px;
}

#blog .call-to-action{
    margin: 10px 0px 20px;
}
#blog .call-to-action a, .article-button a{
    background-color: #55c18f;
    color: #fff;
    padding: 15px;
    display:inline-block;
    text-decoration: none; 
    transition: box-shadow 0.4s;
}

#blog .call-to-action a:hover,
.article-button a:hover{
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .2);
}

.articles-container {
    max-width: 700px;
    margin:auto;
}

.article {
    margin: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}

.article-date {
    padding: 15px;
    color: #fff;
    background-color: black;
   
}

.article-title {
    padding: 15px;

}

.article-text {
    padding: 0px 15px 10px; 
}

.article-button {
    width: 50%;
    margin: 20px auto;
}

.article-button a{
    margin-bottom: 15px;
}



/*Testimonials section */
#testimonials {
    background-color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

#testimonials h2 {
    padding: 15px;
    font-size: 1.4em;
}

#testimonials h3 {
    padding: 10px 15px;
    font-size: 1.3em;
    font-style: italic; 
}

.testimonial {
    margin: 20px;
    padding: 10px; 
}

.testimonial img {
    height: 150px;
    width: 150px;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial p {
    padding: 10px 0px;
}


/*Footer section */

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
}

footer .services ul{
    list-style: none;
}

footer .services li {
    padding: 10px 0px;
}

footer .services h5 {
    padding: 15px 0px;
    font-size: 1.2em;
}

footer .services {
    margin-bottom: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer .contact-info p {
    padding: 10px 0px;
}

footer .contact-form {
    padding: 20px 0px;
}

footer .contact-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
}

footer .contact-form button {
    background-color: #55c18f;
    color: #fff;
    padding: 10px;
    display:inline-block;
    text-decoration: none; 
    transition: box-shadow 0.4s;
    margin: 10px 0px;
    border: none;
}


/*Adding responsive layouts */

@media screen and (min-width:750px){
    header #logo {
        display: inline-block;
        width: 30%;
        padding: 20px;
    }
    header nav {
       display: inline-block;
       width: 60%; 
    }
    #intro {
        height: 500px;
    }

    .intro-text {
        top: 200px;
    }

    .services-container {
        max-width: 500px;
    }

    .works-container .work, .testimonials-container {
        display: inline-block;
        width: 45%;
    }
  

    #blog .article {
        width: 44%;
        display: inline-block;
    }

    footer .services, footer .contact-info {
        display:inline-block;
        width: 46%;
    }

    footer .contact-form input {
        width: 70%;
    }

    footer .contact-form button {
        margin-left: 20px;
    }
}


@media screen and (min-width: 1040px ){
    .welcome-container {
        max-width: 80%;
        margin: 10px auto;
    }

    .services-container {
        max-width: 90%;
        
    }
     .works-container {
        max-width: 100%;
        text-align: center;     
    } 

    .service {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
    .work.one, .work.two, .work.three, .work.four {
       width: 22%;
    }
   .articles-container {
       max-width: 90%;
       text-align: center;
   }
        
    #blog .article {
       display: inline-block;
        width: 45%;
    }

    footer .services, footer .contact-info, footer .contact-form {
        display:inline-block;
        width: 30%;
    }
  
    footer .contact-form input {
        width: 60%;
    }
}